body {
    padding: 20rem 20rem
}

.roof {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 100px solid #573914
}

.body {
    height: 150px;
    width: 160px;
    background-color: beige;
}

.window1 {
    height: 40px;
    width: 40px;
    background-color: aqua;
    position: absolute;
    top: 450px;
    left: 345px;
}

.window2 {
    height: 40px;
    width: 40px;
    background-color: aqua;
    position: absolute;
    top: 450px;
    left: 430px;
}

.door {
    height: 70px;
    width: 50px;
    background-color: #573914;
    position: absolute;
    top: 505px;
    left: 383px;
}

.log {
    height: 120px;
    width: 30px;
    background-color: #573914;
    position: absolute;
    top: 460px;
    left: 700px;

}

.cup {
    height: 150px;
    width: 150px;
    background-color: chartreuse;
    border-radius: 50%;
    position: absolute;
    top: 330px;
    left: 640px;

}

.chimeney {
    height: 120px;
    width: 40px;
    background-color: darkslategray;
    position: absolute;
    top: 320px;
    left: 445px;
    z-index: -1;
}

.smoke1 {
    height: 40px;
    width: 80px;
    background-color: lightslategrey;
    position: absolute;
    border-radius: 50%;
    top: 270px;
    left: 450px;
}

.smoke2 {
    height: 80px;
    width: 160px;
    background-color: lightslategrey;
    position: absolute;
    border-radius: 50%;
    top: 190px;
    left: 490px;
}

.head {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: pink;
    border-radius: 40%;
    top: 650px;
}

.nose {
    position: absolute;
    height: 30px;
    width: 40px;
    background-color: palevioletred;
    border-radius: 50%;
    top: 690px;
    left: 355px;
}

.ear1 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid pink;
    position: absolute;
    top: 625px;
    left: 350px;
}

.ear2 {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid pink;
    position: absolute;
    top: 625px;
    left: 385px;
}

.nosehole1 {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 700px;
    left: 360px;
}

.nosehole2 {
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 700px;
    left: 380px;
}

.eye1 {
    width: 20px;
    height: 20px;
    background-color: white;
    border-color: black;
    border-radius: 50%;
    position: absolute;
    top: 665px;
    left: 345px;
}

.eye2 {
    width: 20px;
    height: 20px;
    background-color: white;
    border-color: black;
    border-radius: 50%;
    position: absolute;
    top: 665px;
    left: 385px;
}

.iriseye1 {
    width: 8px;
    height: 8px;
    background-color: lightblue;
    border-radius: 50%;
    position: absolute;
    top: 670px;
    left: 355px;
}

.iriseye2 {
    width: 8px;
    height: 8px;
    background-color: lightblue;
    border-radius: 50%;
    position: absolute;
    top: 670px;
    left: 387px;
}

.pigbody {
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: palevioletred;
    border-radius: 20%;
    top: 730px;
    left: 315px;
    z-index: -1;
}

.mouth {
    border-bottom: 3px solid black;
    width: 20px;
    position: absolute;
    top: 730px;
    left: 365px;

}

.leftarm {
    border-bottom: 3px solid black;
    width: 80px;
    position: absolute;
    top: 770px;
    left: 430px;
    z-index: -2;
}

.rightarm {
    border-bottom: 3px solid black;
    width: 80px;
    position: absolute;
    top: 770px;
    left: 240px;
    z-index: -2;
}

.leftleg {
    height: 100px;
    width: 3px;
    background-color: black;
    position: absolute;
    top: 830px;
    left: 340px;
    z-index: -2;
}

.rightleg {
    height: 100px;
    width: 3px;
    background-color: black;
    position: absolute;
    top: 830px;
    left: 400px;
    z-index: -2;
}

h2 {
    position: absolute;
    top: 50px
}