/* Contenedor de la página de inicio (Landing) */
.landingContainer {
    display: flex;
    /* Activa flexbox */
    flex-direction: column;
    /* Organiza los elementos hijos en columna */
    justify-content: center;
    /* Centra los elementos verticalmente */
    align-items: center;
    /* Centra los elementos horizontalmente */
    gap: 30px;
    /* Espacio de 30px entre elementos hijos */
    padding: 20px;
    /* Relleno interno de 20px */
    background: white;
    /* Fondo blanco */
    border-radius: 20px;
    /* Bordes redondeados de 20px */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque de 10px */
    box-shadow: 0 8px 32px rgb(0, 142, 182);
    /* Sombra exterior azul */
    border: 1px solid rgb(0, 142, 182);
    /* Borde azul de 1px */
    width: 100%;
    /* Ancho del 100% */
    max-width: 45rem;
    /* Ancho máximo de 45rem */
    margin: auto;
    /* Centrado automático horizontal */
    position: relative;
    /* Posicionamiento relativo */
    top: 10%;
    /* Posiciona el elemento 10% desde arriba */
    transform: translateY(-10%);
    /* Mueve el elemento hacia arriba un 10% de su altura */
}

/* Estilos para la imagen de la página de inicio */
.landingImg {
    width: 100%;
    /* Ancho del 100% del contenedor */
    max-width: 200px;
    /* Ancho máximo de 200px */
    border-radius: 20px;
    /* Bordes redondeados de 20px */
    transition: transform 0.3s ease;
    /* Transición suave de transformación durante 0.3s */
}

/* Efecto hover para la imagen de landing */
.landingImg:hover {
    transform: scale(1.05);
    /* Escala la imagen al 105% al hacer hover */
}

/* Estilos para el mensaje de la página de inicio */
.landingMsg {
    color: black;
    /* Color de texto negro */
    text-align: center;
    /* Alineación de texto centrada */
    margin-bottom: 20px;
    /* Margen inferior de 20px */
    font-family: 'Zen Dots';
    /* Fuente personalizada */
    font-size: 1.5rem;
    /* Tamaño de fuente de 1.5rem */
    text-shadow: 2px 2px 4px rgb(0, 142, 182);
    /* Sombra de texto azul */
}

/* Estilos para el contenedor de botones*/
.landingButtonContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* Estilos para el boton SignUp */
.landingButtonSignUp {
    background-color: black;
    /* Fondo negro */
    color: white;
    /* Texto blanco */
    border: none;
    /* Sin borde */
    padding: 8px 16px;
    /* Relleno interno de 8px arriba/abajo y 16px izquierda/derecha */
    font-size: 1rem;
    /* Tamaño de fuente de 1rem */
    border-radius: 20px;
    /* Bordes muy redondeados */
    cursor: pointer;
    /* Cursor tipo pointer */
    transition: background-color 0.3s ease;
    /* Transición suave del color de fondo */
    width: 40%;
    /* Ancho automático */
    max-width: 200px;
    /* Ancho máximo de 200px */
    font-family: 'Zen Dots';
    /* Fuente personalizada */
    transition: transform 0.3s ease;
    /* Transición suave de transformación */
    text-align: center;
}

/* Efecto de hover para boton SignUp */
.landingButtonSignUp:hover {
    background-color: rgb(0, 142, 182);
    /* Cambia color de fondo a azul */
    transform: scale(1.05);
    /* Escala el botón al 105% */
}

/* Estilos para el boton SignIn */
.landingButtonSignIn {
    background-color: black;
    /* Fondo negro */
    color: white;
    /* Texto blanco */
    border: none;
    /* Sin borde */
    padding: 8px 16px;
    /* Relleno interno de 8px arriba/abajo y 16px izquierda/derecha */
    font-size: 1rem;
    /* Tamaño de fuente de 1rem */
    border-radius: 20px;
    /* Bordes muy redondeados */
    cursor: pointer;
    /* Cursor tipo pointer */
    transition: background-color 0.3s ease;
    /* Transición suave del color de fondo */
    width: 40%;
    /* Ancho automático */
    max-width: 200px;
    /* Ancho máximo de 200px */
    font-family: 'Zen Dots';
    /* Fuente personalizada */
    transition: transform 0.3s ease;
    /* Transición suave de transformación */
    text-align: center;
}

/* Efecto de hover para boton SignIn */
.landingButtonSignIn:hover {
    background-color: rgb(0, 142, 182);
    /* Cambia color de fondo a azul */
    transform: scale(1.05);
    /* Escala el botón al 105% */
}